<div class="batch-edit" ng-controller="batchCtrl">
    <h3>批量修改</h3>
    <div class="batch-time">
        <b>起止时间：</b><button class="btn"><img src="images/choose-time.png"> </button> - <button class="btn"><img src="images/choose-time.png"> </button>
    </div>
    <div class="choose-place">
        <b>库存场地：</b>
        <ul>
            <li><a href="#">1号场</a></li>
            <li><a href="#">2号场</a> </li>
            <li><a href="#" class="active">3号场</a></li>
            <li><a href="#">4号场</a></li>
        </ul>
    </div>
    <div class="place-bottom">
        <p><a href="#"><img src="images/choose-close.png"></a>关闭全部剩余库存</p>
        <form>
            <button class="btn btn-primary">提交</button>
            <button class="btn btn-default active">取消</button>
        </form>
    </div>
</div>