<div class="edit-place">
    <h3>修改库存</h3>
    <div class="choose-place">
        <b>库存场地：</b>
        <ul>
            <li><a href="#">1号场</a></li>
            <li><a href="#">2号场</a> </li>
            <li><a href="#" class="active">3号场</a></li>
            <li><a href="#">4号场</a></li>
        </ul>
    </div>
    <div class="place-bottom">
        <p><a href="#"><img src="images/choose-close.png"></a>关闭全部剩余库存</p>
        <form>
            <button class="btn btn-primary">提交</button>
            <button class="btn btn-default active">取消</button>
        </form>
    </div>
</div>