<div class="container-fluid">
<div class="main_container_body ">
<h3>一号场</h3>

<div class="venue-edit">
<div class="venue-detail row">
    <div class="col-sm-12">
        <h5>选择要调价的时段</h5><div class="checkbox"><label><input type="checkbox">全选</label></div>
        <ul class="venue-detail-table">
            <li class="">
                <a href="#">
                    <p class="time">9:00-10:00</p>


                    <p class="price">998</p>

                    <span class="check-box"><span class="fa fa-check-circle-o"></span></span>
                </a>

            </li>
            <li class="active">
                <a href="#"><p class="time">10:00-10:00</p>

                    <p class="price">998</p>

                    <span class="check-box"><span class="fa fa-check-circle"></span></span>
                </a>

            </li>
            <li class="active">
                <a href="#"><p class="time">9:00-10:00</p>

                    <p class="price">998</p>

                    <span class="check-box"><span class="fa fa-check-circle"></span></span>
                </a>

            </li>
            <li>
                <a href="#"><p class="time">9:00-10:00</p>

                    <p class="price">998</p>

                    <span class="check-box"><span class="fa fa-check-circle-o"></span></span>
                </a>
            </li>
            <li class="active">
                <a href="#"><p class="time">9:00-10:00</p>

                    <p class="price">998</p>

                    <span class="check-box"><span class="fa fa-check-circle"></span></span>
                </a>
            </li>
            <li>
                <a href="#"><p class="time">9:00-10:00</p>

                    <p class="price">998</p>

                    <span class="check-box"><span class="fa fa-check-circle-o"></span></span>
                </a>
            </li>
            <li class="">
                <a href="#">
                    <p class="time">9:00-10:00</p>


                    <p class="price">998</p>

                    <span class="check-box"><span class="fa fa-check-circle-o"></span></span>
                </a>

            </li>
            <li class="active">
                <a href="#"><p class="time">9:00-10:00</p>

                    <p class="price">998</p>

                    <span class="check-box"><span class="fa fa-check-circle"></span></span>
                </a>

            </li>
            <li class="active">
                <a href="#"><p class="time">9:00-10:00</p>

                    <p class="price">998</p>

                    <span class="check-box"><span class="fa fa-check-circle"></span></span>
                </a>

            </li>
            <li>
                <a href="#"><p class="time">9:00-10:00</p>

                    <p class="price">998</p>

                    <span class="check-box"><span class="fa fa-check-circle-o"></span></span>
                </a>
            </li>
            <li class="active">
                <a href="#"><p class="time">9:00-10:00</p>

                    <p class="price">998</p>

                    <span class="check-box"><span class="fa fa-check-circle"></span></span>
                </a>
            </li>
            <li>
                <a href="#"><p class="time">9:00-10:00</p>

                    <p class="price">998</p>

                    <span class="check-box"><span class="fa fa-check-circle-o"></span></span>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="venue-setting-from row">
    <div class="col-sm-6">
        <h5>调价日期</h5>

        <div class="calender">
            <div class="calender-title">
                <div class="pager">
                    <a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a>
                    <a href="#">今天</a>
                    <a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
                <div class="text-center">一月 2015</div>
                <div class="all-select"><div class="checkbox pull-right"><label class=""><input type="checkbox" />全选</label></div></div>

            </div>
            <div class="calender-body">
                <table class="">
                    <thead>
                    <tr>
                        <!--<td ng-repeat="label in view.labels track by $index">{{label}}</td>-->
                        <td>周一</td>
                        <td>周一</td>
                        <td>周一</td>
                        <td>周一</td>
                        <td>周一</td>
                        <td>周一</td>
                        <td>周一</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><a class="active"><span class="today">24</span></a></td>
                        <td><a class="active"><span class="">25</span></a></td>
                        <td><a class="active"><span class="">26</span></a></td>
                        <td><a class="active"><span class="">27</span></a></td>
                        <td><a class=""><span class="">28</span></a></td>
                        <td><a class=""><span class="">29</span></a></td>
                        <td><a class=""><span class="">30</span></a></td>
                    </tr>
                    <tr>
                        <td><a class=""><span class="">31</span></a></td>
                        <td><a class=""><span class="">01</span></a></td>
                        <td><a class=""><span class="">01</span></a></td>
                        <td><a class=""><span class="">01</span></a></td>
                        <td><a class=""><span class="">01</span></a></td>
                        <td><a class=""><span class="">01</span></a></td>
                        <td><a class=""><span class="">01</span></a></td>
                    </tr>
                    <tr>
                        <td><a class=""><span class="">01</span></a></td>
                        <td><a class=""><span class="">01</span></a></td>
                        <td><a class=""><span class="">01</span></a></td>
                        <td><a class=""><span class="">01</span></a></td>
                        <td><a class=""><span class="">01</span></a></td>
                        <td><a class=""><span class="">01</span></a></td>
                        <td><a class=""><span class="">01</span></a></td>
                    </tr>
                    <tr>
                        <td><a class=""><span class="">01</span></a></td>
                        <td><a class=""><span class="">01</span></a></td>
                        <td><a class=""><span class="">01</span></a></td>
                        <td><a class=""><span class="">01</span></a></td>
                        <td><a class=""><span class="">01</span></a></td>
                        <td><a class=""><span class="">01</span></a></td>
                        <td><a class=""><span class="">01</span></a></td>
                    </tr>
                    <td><a class="active"><span class="">24</span></a></td>
                    <td><a class="active"><span class="">25</span></a></td>
                    <td><a class="active"><span class="">26</span></a></td>
                    <td><a class="active"><span class="">27</span></a></td>
                    <td><a class=""><span class="">28</span></a></td>
                    <td><a class=""><span class="">29</span></a></td>
                    <td><a class=""><span class="">30</span></a></td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-md-offset-1 price-submit">

        <h5>新价格</h5>
        <form role="form">
        <div class="input-group">
            <input type="number" class="form-control">
            <span class="input-group-addon">元</span>

        </div>
        <button class=" btn btn-success">保存</button><button class=" btn btn-default">取消</button>
    </div>
    </form>
</div>
</div>
</div>
</div>