<div class="layout-top">
    <div class="top-nav container-fluid">
        <div class="navbar-header">
            <a class="logo" href="#">
                <img alt="dongker" src="/images/logo.png">
                <span class="visible-xs-inline-block"></span>
            </a>
            <span class="brand">动客体育</span>
        </div>
        <div class="navbar-right hidden-xs">
            <ul class="header-nav navbar-nav">
                <li><a href="/signup">免费试用</a></li>
                <li ng-if="isAuthenticated()"><a href="/index">进入</a></li>
            </ul>
        </div>

    </div>
</div>
<div class="home-page  layout-body">
    <section class="section-1">
        <div class="inside inside-bg1">
            <div class="container">
                <div class="position-right slogan">
                    <h1 class="h1"></h1>

                    <h2 class="h2">一种全力以赴的运动空间</h2>

                    <p class="rp">
                    <a class="btn btn-primary btn-signup" href="/signup">免费试用</a>
                    或<a class="login" href="/login">登录</a></p>

                </div>
            </div>
        </div>
    </section>

    <section class="section-2">
        <div class="inside inside-bg2">
            <div class="container">
                <div class="slogan position-left">
                    <h1><span class="glyphicon glyphicon-map-marker  place" aria-hidden="true"></span>场地预订，轻松搞定</h1>

                    <p class="ar">方便快捷查找周边运动场馆，剩余场量，优惠价格，快速<br>查询，选择好预订时间，确认下单，不再愁订不到场地。</p>

                </div>
            </div>
        </div>
    </section>
    <section class="section-3">
        <div class="inside inside-bg3">
            <div class="container">
                <div class="position-right  slogan">
                    <h1><span class="glyphicon glyphicon-list-alt place"></span>运动交友，伙伴约么</h1>

                    <p class="ar">想运动，找不到同伴？动客让你找到志同<br>道合的小伙伴，一同玩耍。</p>

                </div>
            </div>
        </div>
    </section>
    <section class="section-4">
        <div class="inside inside-bg4">
            <div class="container">
                <div class="position-left  slogan">
                    <h1><span class="glyphicon glyphicon-home place"></span>活动天天有，特价场馆等你来</h1>

                    <p class="ar">惊喜不断，优惠不停送，不用有钱，也可以任性。新<br>用户注册即送优惠券，支付使用，价格立减。</p>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer-content">
            <ul class="row1">
                <li><a>服务条款</a>•</li>
                <li><a>帮助中心</a>•</li>
                <li><a>官方微博</a>•</li>
                <li><a>隐私策略</a>•</li>
                <li><a>联系我们</a></li>
            </ul>
            <p class="text-center copy-right"><span class="ml15">&copy;2015 <span class="ml5 mr5">动客网</span>[ 京ICP备13042020 ] 保留所有权利。</span>
            </p>
        </div>
    </footer>
</div>